services:
  markplace-orders-api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: markplace-orders-api
    container_name: markplace-orders-api
    restart: always
    volumes:
      - /home/kinoko/logs/markplace-orders-api:/app/logs
    networks:
      - backend
    ports:
      - "33308:33308"

networks:
  backend:
    external: true
